  body {
      position: relative;
      padding-top: -20cm;
  }
  
  html {
      position: relative;
      min-height: 100%;
  }
  
  * {
      margin: 0;
      padding: 0;
      position: relative;
  }
  
  body {
      background: url(/yofran/pesas2.jpg)no-repeat center;
      background-size: cover;
      height: auto;
      width: 100%;
      overflow-x: hidden;
  }
  
  .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      background-color: rgb(0, 0, 0);
      width: 100%;
      z-index: 100;
  }
  
  .contenedor {
      display: block;
      position: relative;
  }
  
  .logo {
      margin-left: 40px;
      font-size: 20px;
  }
  
  .logo a {
      text-decoration: none;
      color: aliceblue;
      text-transform: uppercase;
      font-size: 20px;
  }
  
  .logo a:hover {
      background: blue;
  }
  
  .na {
      display: flex;
      margin-right: 30px;
  }
  
  .na a {
      display: block;
      padding: 20px 20px;
      color: aliceblue;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
  }
  
  .na a:hover {
      background: blue;
  }
  /*responsivo hau */